<h3 style="font-size: 40px; margin-left: 25px;">Peliculas</h3>
<section class="section">
	<div class="container">
		<div *ngIf="initPeliculas" class="columns is-multiline">
			<div class="column is-3" *ngFor="let peliculas of initPeliculas; let i = index">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							
						</figure>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
                <p class="title is-4">{{initPeliculas[i].id}}</p>
                <p class="title is-4">{{initPeliculas[i].director}}</p>
                <p class="title is-4">{{initPeliculas[i].producer}}</p>
                <p class="title is-4">{{initPeliculas[i].release_date}}</p>
                <p class="title is-4">{{initPeliculas[i].rt_score}}</p>
                <p class="title is-4">{{initPeliculas[i].people}}</p>
                <p class="title is-4">{{initPeliculas[i].species}}</p>
                <p class="title is-4">{{initPeliculas[i].locations}}</p>
                <p class="title is-4">{{initPeliculas[i].vehicles}}</p>
                <p class="title is-4">{{initPeliculas[i].url}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>