<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="assets/img/studio_ghibli.jpg" width="200px" height="100px">
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">Home</a>
  
        <a class="navbar-item" routerLink="/about" routerLinkActive="is-active"> About</a>
        
        <a class="navbar-item" routerLink="/film" routerLinkActive="is-active"> Films</a>
          </div>
        </div>
  
  </nav>
