<section>
    <br>
    <div class="mx-auto" style="width: 30rem;">
        <img src="assets/img/415b9d0ace1aa5d8c0e3980efde2a0ec.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" style="font-size: 40px; margin-left: 25px;" >Desarrollo Front-End</h3>
          <h4 class="text-center">Evaluación 3 Ghibli</h4>
          <hr>
          <h5 class="card-text text-center">Integrante:</h5>
          <h6 class=" text-center">Camila Jara Sepúlveda</h6>
          <h5 class="card-text text-center">Fecha:</h5>
          <h6 class=" text-center">10-Diciembre-2020</h6>
        </div>
      </div>
      <br>
</section>
